.cards{
  max-width: 1140px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 364px);
  grid-auto-rows: 281px;
  column-gap: 24px;
  row-gap: 37px;
  margin-bottom: 59px;
}

@media all and (max-width:1279px) {
  .cards{
    max-width: 708px;
    grid-template-columns: repeat(2, 339px);
    grid-auto-rows: 262px;
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 79px;
  }
}

@media all and (max-width:767px) {
  .cards{
    max-width: 300px;
    grid-template-columns: repeat(1, 300px);
    grid-auto-rows: 237px;
    row-gap: 14px;
    margin-bottom: 77px;
  }
}

.cards_error{
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
}

.cards__error{
  margin: auto;
  max-width: 40%;
  text-align: center;
}

.cards__error_light{
  color: #000;
}