.page-not-found{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-not-found__title{
  color: #FFF;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
  transition: font-size 300ms ease-in-out;
}

.page-not-found__about{
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 184px;
  transition: font-size 300ms ease-in-out;
}

.page-not-found__back{
  border: none;
  background: none;
  color: #4285F4;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: opacity 300ms ease-in-out;
}

.page-not-found__back:hover{
  opacity: 0.7;
}

@media all and (max-width:767px) {
  .page-not-found__title{
    font-size: 80px;
    margin-bottom: 10px;
  }
  .page-not-found__about{
    font-size: 12px;
    margin-bottom: 284px;
  }
  .page-not-found__back{
    font-size: 12px;
  }
}