.header__logo{
  background-image: url(../../images/logo.svg);
  border: none;
  cursor: pointer;
  height: 38px;
  width: 38px;
  border-radius: 9px;
  transition-property: opacity background;
  transition: 300ms ease-in-out;
}

.header__logo:hover{
  opacity: 0.8;
}

.header__logo_light{
  background-image: url(../../images/logo-light.svg);
}
