.techs{
  width: 100%;
  background-color: #272727;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 2;
  margin-bottom: 110px;
  left: 0;
}

.techs_light{
  background-color: #F5F5F5;
}

.techs__title{
  margin-top: 90px;
  margin-bottom: 26px;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
}

.techs__title_light{
  color: #000;
}

.techs__subtitle{
  width: 460px;
  margin-top: 0;
  margin-bottom: 100px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.56px;
}

.techs__subtitle_light{
  color: #000;
}

.techs__tiles{
  width: 690px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.techs__tile{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background-color: #303030;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}

.techs__tile_light{
  color: #000;
  background-color: #E8E8E8;
}

@media all and (max-width:1279px) {
  .techs{
    padding-top: 91px;
    padding-bottom: 90px;
    margin-bottom: 91px;
  }

  .techs__title{
    margin-top: 80px;
    margin-bottom: 22px;
  }

  .techs__subtitle{
    font-size: 12px;
    line-height: 18px; /* 150% */
    letter-spacing: -0.48px;
    margin-bottom: 83px;
  }

  .techs__tile{
    width: 84px;
    height: 57px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }

  .techs__tiles{
    width: 648px;
  }
}

@media all and (max-width:767px) {
  .techs{
    background-color: #202020;
    margin-bottom: 51px;
  }

  .techs_light{
    background-color: #F5F5F5;
  }

  .techs__title{
    font-size: 30px;
    letter-spacing: -1.2px;
    margin-top: 49px;
    margin-bottom: 13px;
  }

  .techs__subtitle{
    max-width: 292px;
    font-size: 11px;
    line-height: 16px; /* 145.455% */
    letter-spacing: -0.44px;
    margin-bottom: 50px;
  }

  .techs__tiles{
    max-width: 178px;
    flex-wrap: wrap;
  }
}